{% extends "kanban/layout.html" %}
{% load static %}

{% block body %}

<div class="kanban">

    <div class="kanban-column">
        <div>
            <h2 class="kanban-head">Flex Spalte 1</h2>
        </div>

        <div class="kanban-card-wrapper">
            <div class="kanban-card">
                <div class="kanan-card-body">
                    dfgsdfgsdf
                </div>
            </div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
        </div>
    </div>

    <div class="kanban-column">
        <div>
            <h2 class="kanban-head">Flex Spalte 2</h2>
        </div>

        <div class="kanban-card-wrapper">
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
        </div>
    </div>

    <div class="kanban-column">
        <div>
            <h2 class="kanban-head">Flex Spalte 3</h2>
        </div>

        <div class="kanban-card-wrapper">
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
        </div>
    </div>

    <div class="kanban-column">
        <div>
            <h2 class="kanban-head">Flex Spalte 4</h2>
        </div>

        <div class="kanban-card-wrapper">
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
            <div class="kanban-card"></div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
{% endblock %}
