:root{
--base-clr: #11121a;
--line-clr: #42434a;
--hover-clr: #222533;
--text-clr: #e6e6ef;
--text-clr-main: #000;
--accent-clr: #5e63ff;
--secondary-text-clr: #b0b3c1;
}


html, body {
  height: 100%;
}

.kanban {
  display: flex;
  gap: 30px;
  padding: 20px;
  height: 100vh;         
}

.kanban .kanban-column {
  display: flex;
  flex-direction: column; 
  flex: 1 1 0;
  padding: 0.5rem;
  background-color: rgba(255,255,255,0.06);
  border-radius: 16px;
  min-height: 0;         
}

.kanban .kanban-head {
  flex: 0 0 auto;         
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin: 10px;
}

.kanban .kanban-card-wrapper {
  flex: 1 1 auto;         
  min-height: 0;          
  overflow-y: auto;       
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  gap: 12px;
  margin-top: 15px;           
}

.kanban .kanban-card {
  background-color: rgba(255,255,255,0.09);
  width: 100%;
  height: auto;           
  min-height: 170px;       
  border-radius: 16px;
  border: 2px solid rgba(255,255,255,0.06);

}

.kanban .kanan-card-body{
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px;
  color: var(--text-clr);
}