/* Base colors for the navigation bar */
:root{
--base-clr: #11121a;
--line-clr: #42434a;
--hover-clr: #222533;
--text-clr: #e6e6ef;
--text-clr-main: #000;
--accent-clr: #5e63ff;
--secondary-text-clr: #b0b3c1;
}


/* Getting rid of all pre defined margin and paddings */
*{
    margin: 0;
    padding: 0;
}

/* 1.5 line height just looks better*/
html{
    line-height: 1.5;
}

main{
    background-color: var(--base-clr);
}

/* Display as grid. First colum is the navigation bar that just take the minimal space as needed (auto)*/
body{
    min-height: 100vh;
    min-height: 100dvh;
    color: var(--text-clr-main);
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);

    /* keep the navigation where it is. even when you can scroll the page*/
    position: sticky;
    top: 0;
    align-self: start;
    transition:  width 300ms ease-in-out, padding 300ms ease-in-out;
    /* when the navigationbar shrinks this look better when this attributes are active*/
    overflow-y: auto;
    overflow-x: hidden;
    text-wrap: nowrap;
}

/* closed style of the navigation bar*/
#sidebar.close{
    padding: 5px;
    width: 60px;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* margin and justify the list items in the ul*/
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    .UserName{
        font-weight: 600;
    }
}

/* Color of font and svg when active*/
#sidebar ul li.active a,
#sidebar ul li.active button {
    color: var(--accent-clr);

    svg{
        fill: var(--accent-clr);
    }
}

/* Design dropdown and button like the same*/
#sidebar a, #sidebar .dropdown-btn, .nav-btn, #sidebar .UserName{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em
}

/* let the dropdown look like the other a tags */
.dropdown-btn, .nav-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}



/* svg style*/
#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr)
}

/* the spans taking the complete space an the drop downs svg only as much as needed */
#sidebar a span, #sidebar .dropdown-btn span, #sidebar .nav-btn span{
    flex-grow: 1;
}

/* hover effect*/
#sidebar a:hover, #sidebar .dropdown-btn:hover, .board-list:hover, .nav-btn:hover{
    background-color: var(--hover-clr);

}

/* This is the must fun part. Make the sub menu a grid with 0fr like 0 height. When sub menu show you have animation when the row grows or shrink*/
/* this does not work with height auto.*/
#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    padding-left: 2em;

    > div {
        overflow: hidden
    }

}


/* Grow the row with the sub menu*/
#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}

/* rotate time*/
.dropdown-btn svg{
    transition: 200ms;
}

/* rotate svg*/
.rotate svg:last-child{
    rotate: -180deg;
}

/* toggle style to the shrink or grow the hole menu*/
#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg{
        transition: rotate 150ms;
    }
}

#toggle-btn:hover{
    background-color: var(--hover-clr);
}



/* Input inside sidebar submenu  */
#sidebar .sub-menu > div > input {
  width: 100%;
  height: 34px;
  padding: 0 0.75em;

  border-radius: .5em;               
  border: 1px solid var(--line-clr); 

  background-color: var(--hover-clr); 
  color: var(--text-clr);

  font-size: 0.95rem;
  outline: none;

  transition: border-color 150ms ease, box-shadow 150ms ease, background-color 150ms ease;
}


#sidebar .sub-menu > div > input::placeholder {
  color: var(--secondary-text-clr);
  opacity: 1;
}


#sidebar .sub-menu > div > input:hover {
  background-color: #1b1d2a; 
}


#sidebar .sub-menu > div > input:focus {
  border-color: var(--accent-clr);
  box-shadow: 0 0 0 3px rgba(94, 99, 255, 0.20);
}


.board-list {
    display: flex;
    border-radius: .5em;

}

.openBoard-btn {
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    align-items: center;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  
}

.deleteBoard-btn {
    padding: .45em;
    text-decoration: none;
    color: var(--text-clr);
    align-items: center;
    background: none;
    border: none;
    justify-content: flex-end;
    flex-shrink: 1;
    z-index: 1000;
}

.deleteBoard-btn svg {
  fill: var(--text-clr) !important;
}
.deleteBoard-btn:hover svg { fill: #ff4d4f !important; }


@media(max-width: 800Px) {
    body{
        grid-template-columns: 1fr;
    }
    main{
        padding: 2em 1em 60px 1em;
    }
    .container{
        border: none;
        padding: 0;
    }
    #sidebar{
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--line-clr);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;

        > ul{
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
            align-items: center;
            overflow-x: scroll;
        }

        ul li{
            height: 100%;
        }

        ul a, ul .dropdown-btn, ul .nav-btn{
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }

        
        ul li span, ul li:first-child, .dropdown-btn svg:last-child, .nav-btn svg:last-child{
            display: none;
        }

        ul li .sub-menu.show{
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            height: 60px;
            width: 100%;
            background-color: var(--hover-clr);
            border-top: 1px solid var(--line-clr);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            

            > div{
                overflow-x: auto;
            }

            > #Boardlist > input#new-board{
            width: 140px;       /* hier kleiner machen */
            
            height: 40px;
            margin-left: 1em;
    
            }

            li{
                display: inline-flex;
            }

            .board-list{
                box-sizing: border-box;
                height: 40px;
                width: auto;
                justify-content: center;
                border: 1px solid;
                border-color: var(--line-clr);
                margin-top: 5px;
                margin-bottom: 5px;
                align-items: center;
            }
        }

    }
}